.DS_Store

**/node_modules/*
**/npm-debug.log

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks

!test/**/node_modules/*
test/**/node_modules/**/.DS_Store

# gulp.1

# .gulp.*
